<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
          <a *ngIf="!isAuthenticated()" routerLink="/" class="logo"></a>
          <a *ngIf="isAuthenticated()" (click)="logOut()" class="logo">Logout</a>

          <nav>
            <ul>
              <li><a *ngIf="isADMIN()" routerLink="/register">Ajout User</a></li>
              <li><a *ngIf="isSUPERADMIN() " routerLink="/partenaire">Ajout Partenaire</a></li>
              <li><a *ngIf="isADMIN()" routerLink="/listeuser">Liste User</a></li>
              <li><a *ngIf="isSUPERADMIN()" routerLink="/lister">Liste Partenaire</a></li>
              <li><a *ngIf="isUser()" routerLink="/envoi">Envoyer</a></li>
              <li><a *ngIf="isUser()" routerLink="/retrait">Retrait</a></li>
              <li><a *ngIf="isCaissier()" routerLink="/depot">Dépôt</a></li>
            </ul>
          </nav>
        </div>
      </header>
     
</body>
</html>

  <!-- From: -->
<a routerLink="/"></a>

<!-- To: -->
<a routerLink="/">{{ appTitle }}</a>
  