<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
          <a routerLink="/" class="logo">KiTRANSFERT</a>
          <nav>
            <ul>
              <li><a routerLink="/acceuil">Acceuil</a></li>
              <li><a routerLink="/register">Ajout User</a></li>
              <li><a routerLink="/listeuser">Liste User</a></li>
              <li><a routerLink="/lister">Liste Partenaire</a></li>
              <li><a routerLink="/partenaire">Ajout Partenaire</a></li>
              <li><a routerLink="/operation">Dépôt</a></li>
              <li><a routerLink="/historique">Historique</a></li>

    
    
            </ul>
          </nav>
        </div>
      </header>
    
</body>
</html>

  <!-- From: -->
<a routerLink="/"></a>

<!-- To: -->
<a routerLink="/">{{ appTitle }}</a>
  