<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Ajout</h3>
      </div>
       <div class="card-body">
         <form class="form" #formUser="ngForm">
           <div class="form-group">
             <label for=""><h5>Username</h5></label>
             <input [(ngModel)]="ajoutUserData.username" name="username" type="text"  class="form-control rounded-0" required>
           </div>
           <div class="form-group">
             <label for=""><h5>Role</h5></label>
             <input [(ngModel)]="ajoutUserData.role" name="role" type="number"  class="form-control rounded-0" required>
           </div>
          <div class="form-group">
            <label for=""><h5>PlainPassword</h5></label>
            <input [(ngModel)]="ajoutUserData.plainpassword" name="plainpassword" type="password"  class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for=""><h5>Adresse</h5></label>
            <input [(ngModel)]="ajoutUserData.adresse" name="adresse" type="text"  class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for=""><h5>Nom Complet</h5></label>
            <input [(ngModel)]="ajoutUserData.nomcomplet" name="nomcomplet" type="text"  class="form-control rounded-0" required>
          </div> 
          <div class="container">
            <div class="row">
              <div class="col s8 offset-2">
                <div class="card-panel teal lighten-2">
                  <h4 class="center white-text"><h5>Image</h5></h4>
                </div>
                  <img [src]="imageUrl"  style="width:250px;height:200px" alt="">
                  <input type="file" #image accept="image/*" [(ngModel)]="ajoutUserData.image" (change)="handleFileInput($event.target.files)" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for=""><h5>Etat</h5></label>
            <input [(ngModel)]="ajoutUserData.etat" name="etat" type="text"  class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for=""><h5>Email</h5></label>
            <input [(ngModel)]="ajoutUserData.email" name="email" type="email"  class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for=""><h5>Partenaire id</h5></label>
            <input [(ngModel)]="ajoutUserData.partenaire_id" name="partenaire_id" type="number"  class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for=""><h5>Compte id</h5></label>
            <input [(ngModel)]="ajoutUserData.compte_id" name="compte_id" type="number"  class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for=""><h5>Telephone</h5></label>
            <input [(ngModel)]="ajoutUserData.telephone" name="telephone" type="number"  class="form-control rounded-0" required>
          </div>
          <button (click)="ajoutUser()" type="Ajout" class="btn-large btn-submit">Ajouter</button>
        </form>
       </div>
    </div>
  </div>
</div>
